body {
    font-family: "Maven Pro", 'sans-serif';
}

.container {
    margin-top: 50px;
    margin-bottom: 150px;
}

#header {
    padding: 0;
    border: 1px solid #ccc;
}

#HeaderImage {
    width: 100%;
}

#container-body {
    border: 1px solid #ccc;
}

#container-body p {
    text-align: center;
    font-size: 35px;
    font-weight: 100;
}

form input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

h4 {
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
}

#thumbnail {
    width: 100%;
    padding-left: 10px;
}

#author {
    font-weight: 700;
}

#authorName {
    font-size: 80%;
}

h5 {
    text-align: center;
}

#videoDetails {
    text-align: center;
    margin-bottom: 10px;
}